<p id="notice"><%= notice %></p>

<h1>Trainers</h1>

<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pmtrainers.each do |pmtrainer| %>
      <tr>
        <td><%= pmtrainer.nombre %></td>
        <td><%= pmtrainer.apellido %></td>

        <td><%= link_to 'Show', pmtrainer, class: "btn btn-info"%></td>
        <td><%= link_to 'Edit', edit_pmtrainer_path(pmtrainer), class: "btn btn-warning" %></td>
        <td><%= link_to 'Destroy', pmtrainer, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"%></td>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pmtrainer', new_pmtrainer_path, class: "btn btn-success"%>
