<p id="notice"><%= notice %></p>

<h2>
  <strong>Nombre:</strong>
  <%= @pmtrainer.nombre %>
</h2>

<h2>
  <strong>Apellido:</strong>
  <%= @pmtrainer.apellido %>
</h2>

<%= link_to 'Edit', edit_pmtrainer_path(@pmtrainer) , class: "btn btn-warning"%> |
<%= link_to 'Back', pmtrainers_path , class: "btn btn-info"%>
