<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @pmtrainer.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @pmtrainer.apellido %>
</p>

<%= link_to 'Edit', edit_pmtrainer_path(@pmtrainer) %> |
<%= link_to 'Back', pmtrainers_path %>
