<p id="notice"><%= notice %></p>

<h1>Pmreferees</h1>

<table>
  <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pmreferees.each do |pmreferee| %>
      <tr>
        <td><%= pmreferee.first_name %></td>
        <td><%= pmreferee.last_name %></td>
        <td><%= link_to 'Show', pmreferee %></td>
        <td><%= link_to 'Edit', edit_pmreferee_path(pmreferee) %></td>
        <td><%= link_to 'Destroy', pmreferee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pmreferee', new_pmreferee_path %>
