<%= form_with(model: pmnationality, local: true) do |form| %>
  <% if pmnationality.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pmnationality.errors.count, "error") %> prohibited this pmnationality from being saved:</h2>

      <ul>
      <% pmnationality.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :pmnationality_name %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-success"%>
  </div>
<% end %>
