<p id="notice"><%= notice %></p>

<h1>Pmtournaments</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Year</th>
      <th>Init date</th>
      <th>End date</th>
      <th>Pmplace</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pmtournaments.each do |pmtournament| %>
      <tr>
        <td><%= pmtournament.name %></td>
        <td><%= pmtournament.year %></td>
        <td><%= pmtournament.init_date %></td>
        <td><%= pmtournament.end_date %></td>
        <td><%= pmtournament.pmplace_id %></td>
        <td><%= link_to 'Show', pmtournament %></td>
        <td><%= link_to 'Edit', edit_pmtournament_path(pmtournament) %></td>
        <td><%= link_to 'Destroy', pmtournament, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pmtournament', new_pmtournament_path %>
