<div class="welcome">
  <center><h1>GRAND SLAM!</h1></center>
  <table class="table table">
    <tr>
      <td>
        <center><%= link_to 'Player', pmplayers_path, class: "btn btn-info"%></center>
      </td>
      <td>
        <center><%= link_to 'Trainer', pmtrainers_path, class: "btn btn-info"%></center>
      </td>
    </tr>
    <tr>
      <td>
        <center><%= link_to 'Nationality', pmnationalities_path, class: "btn btn-info"%></center>
      </td>
      <td>
        <center><%= link_to 'Country', pmcountries_path, class: "btn btn-info"%></center>
      </td>
    </tr>
    <tr>
      <td>
        <center><%= link_to 'Place', pmplaces_path, class: "btn btn-info"%></center>
      </td>
      <br>
      <td>
        <center><%= link_to 'Court', pmcourts_path, class: "btn btn-info"%></center>
      </td>
    </tr>
    <tr>
      <td>
        <center><%= link_to 'Tournament', pmtournaments_path, class: "btn btn-info"%></center>
      </td>
      <br>
      <td>
        <center><%= link_to 'Round', pmrounds_path, class: "btn btn-info"%></center>
      </td>
    </tr>
    <tr>
      <td>
        <center><%= link_to 'Match', pmmatches_path, class: "btn btn-info"%></center>
      </td>
      <br>
      <td>
        <center><%= link_to 'Referee', pmreferees_path, class: "btn btn-info"%></center>
      </td>
    </tr>
    <tr>
      <td>
        <center><%= link_to 'Prize', pmprizes_path, class: "btn btn-info"%></center>
      </td>
      <br>
      <td>
        <center><%= link_to 'Set', pmsets_path, class: "btn btn-info"%></center>
      </td>
    </tr>
  </table>

</div>
