<%= form_with(model: pmcourt, local: true) do |form| %>
  <% if pmcourt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pmcourt.errors.count, "error") %> prohibited this pmcourt from being saved:</h2>

      <ul>
      <% pmcourt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number, id: :pmcourt_number %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
