<p id="notice"><%= notice %></p>

<h1>Prizes</h1>

<table class="table table-bordered table-striped table-hover">
  <thead class="thead-light">
    <tr>
      <th>Amount</th>
      <th>Name</th>
      <th>Match</th>
      <th>Player</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pmprizes.each do |pmprize| %>
      <tr>
        <td><%= pmprize.amount %></td>
        <td><%= pmprize.name %></td>
        <td><%= pmprize.pmmatch.date.strftime("%b %d, %Y") +' '+ pmprize.pmmatch.pmplayer_1.last_name+' vs. '+pmprize.pmmatch.pmplayer_2.last_name %></td>
        <td><%= pmprize.pmplayer.first_name+' '+pmprize.pmplayer.last_name %></td>
        <td><%= link_to 'Show', pmprize , class: "btn btn-info"%></td>
        <td><%= link_to 'Edit', edit_pmprize_path(pmprize), class: "btn btn-warning" %></td>
        <td><%= link_to 'Destroy', pmprize, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pmprize', new_pmprize_path , class: "btn btn-success"%>
