<p id="notice"><%= notice %></p>

<h1>Pmprizes</h1>

<table >
  <thead>
    <tr>
      <th>Amount</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pmprizes.each do |pmprize| %>
      <tr>
        <td><%= pmprize.amount %></td>
        <td><%= pmprize.name %></td>
        <td><%= link_to 'Show', pmprize %></td>
        <td><%= link_to 'Edit', edit_pmprize_path(pmprize) %></td>
        <td><%= link_to 'Destroy', pmprize, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pmprize', new_pmprize_path %>
