<%= form_with(model: pmmatch, local: true) do |form| %>
  <% if pmmatch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pmmatch.errors.count, "error") %> prohibited this pmmatch from being saved:</h2>

      <ul>
      <% pmmatch.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date, id: :pmmatch_date %>
  </div>

  <div class="field">
    <%= form.label :score1 %>
    <%= form.text_field :score1, id: :pmmatch_score1 %>
  </div>

  <div class="field">
    <%= form.label :score2 %>
    <%= form.text_field :score2, id: :pmmatch_score2 %>
  </div>

  <div class="field">
    <%= form.label :pmcourt_id %>
    <%= form.select( :pmcourt_id, Pmcourt.all.collect {|p| [ p.number, p.id ] } )%>
  </div>

  <div class="field">
    <%= form.label :pmround_id %>
    <%= form.select( :pmround_id, Pmround.all.collect {|p| [ p.round, p.id ] } )%>
  </div>

  <div class="field">
    <%= form.label :pmtournament_id %>
    <%= form.select( :pmtournament_id, Pmtournament.all.collect {|p| [ p.name, p.id ] } )%>
  </div>

  <div class="field">
    <%= form.label "Local" %>
    <%= form.select( :pmplayer_1_id, Pmplayer.all.collect {|p| [ p.first_name + ' '+p.last_name, p.id ] } )%>
  </div>

  <div class="field">
    <%= form.label "Visitor" %>
    <%= form.select( :pmplayer_2_id, Pmplayer.all.collect {|p| [ p.first_name + ' '+p.last_name, p.id ] } )%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
