<p id="notice"><%= notice %></p>

<h1>Matches</h1>

<table class="table table-bordered table-striped table-hover">
  <thead class="thead-light">
    <tr>
      <th>Date</th>
      <th>Local</th>
      <th>Score1</th>
      <th>Visitor</th>
      <th>Score2</th>
      <th>Court</th>
      <th>Round</th>
      <th>Tournament</th>
      <th>Referee</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pmmatches.each do |pmmatch| %>
      <tr>
        <td><%= pmmatch.date %></td>
        <td><%= pmmatch.pmplayer_1.first_name+' '+pmmatch.pmplayer_1.last_name %></td>
        <td><%= pmmatch.score1 %></td>
        <td><%= pmmatch.pmplayer_2.first_name+' '+pmmatch.pmplayer_2.last_name %></td>
        <td><%= pmmatch.score2 %></td>
        <td><%= pmmatch.pmcourt.number %></td>
        <td><%= pmmatch.pmround.round %></td>
        <td><%= pmmatch.pmtournament.name %></td>
        <td><%= pmmatch.pmreferee.first_name+' '+pmmatch.pmreferee.last_name %></td>
        <td><%= link_to 'Show', pmmatch, class: "btn btn-info"%></td>
        <td><%= link_to 'Edit', edit_pmmatch_path(pmmatch), class: "btn btn-warning"%></td>
        <td><%= link_to 'Destroy', pmmatch, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New match', new_pmmatch_path , class: "btn btn-success"%>
