<p id="notice"><%= notice %></p>

<h2>
  <strong>Date:</strong>
  <%= @pmmatch.date %>
</h2>

<p>
  <strong>Score1:</strong>
  <%= @pmmatch.score1 %>
</p>

<p>
  <strong>Score2:</strong>
  <%= @pmmatch.score2 %>
</p>

<p>
  <strong>Local:</strong>
  <%= @pmmatch.pmplayer_1.first_name + ' ' + @pmmatch.pmplayer_1.last_name %>
</p>

<p>
  <strong>Visitor:</strong>
  <%= @pmmatch.pmplayer_2.first_name + ' ' + @pmmatch.pmplayer_2.last_name %>
</p>

<p>
  <strong>Pmcourt:</strong>
  <%= @pmmatch.pmcourt.number %>
</p>

<p>
  <strong>Pmround:</strong>
  <%= @pmmatch.pmround.round %>
</p>

<p>
  <strong>Pmtournament:</strong>
  <%= @pmmatch.pmtournament.name %>
</p>

<%= link_to 'Edit', edit_pmmatch_path(@pmmatch) , class: "btn btn-warning"%> |
<%= link_to 'Back', pmmatches_path , class: "btn btn-info"%>
