<p id="notice"><%= notice %></p>

<h2>
  <strong>Date:</strong>
  <%= @pmmatch.date %>
</h2>

<p>
  <strong>Score1:</strong>
  <%= @pmmatch.score1 %>
</p>

<p>
  <strong>Score2:</strong>
  <%= @pmmatch.score2 %>
</p>

<p>
  <strong>Pmcourt:</strong>
  <%= @pmmatch.pmcourt_id %>
</p>

<p>
  <strong>Pmround:</strong>
  <%= @pmmatch.pmround_id %>
</p>

<p>
  <strong>Pmtournament:</strong>
  <%= @pmmatch.pmtournament_id %>
</p>

<%= link_to 'Edit', edit_pmmatch_path(@pmmatch) , class: "btn btn-warning"%> |
<%= link_to 'Back', pmmatches_path , class: "btn btn-info"%>
