<%= form_with(model: pmcountry, local: true) do |form| %>
  <% if pmcountry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pmcountry.errors.count, "error") %> prohibited this pmcountry from being saved:</h2>

      <ul>
      <% pmcountry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :pmcountry_name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
