<p id="notice"><%= notice %></p>

<h1>Pmplaces</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Pmcountry</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pmplaces.each do |pmplace| %>
      <tr>
        <td><%= pmplace.name %></td>
        <td><%= pmplace.pmcountry_id %></td>
        <td><%= link_to 'Show', pmplace %></td>
        <td><%= link_to 'Edit', edit_pmplace_path(pmplace) %></td>
        <td><%= link_to 'Destroy', pmplace, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pmplace', new_pmplace_path %>
