<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pmplace.name %>
</p>

<p>
  <strong>country:</strong>
  <%= @pmplace.pmcountry.name %>
</p>

<%= link_to 'Edit', edit_pmplace_path(@pmplace) %> |
<%= link_to 'Back', pmplaces_path %>
