<p id="notice"><%= notice %></p>

<h1>Sets</h1>

<table class="table table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>Match</th>
      <th>Local points</th>
      <th>Visitor points</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pmsets.each do |pmset| %>
      <tr>
        <td><%= pmset.pmmatch.date.strftime("%b %d, %Y") +' '+ pmset.pmmatch.pmplayer_1.last_name+' vs. '+pmset.pmmatch.pmplayer_2.last_name %></td>
        <td><%= pmset.local_points %></td>
        <td><%= pmset.visitor_points %></td>
        <td><%= link_to 'Show', pmset , class: "btn btn-info"%></td>
        <td><%= link_to 'Edit', edit_pmset_path(pmset) , class: "btn btn-warning"%></td>
        <td><%= link_to 'Destroy', pmset, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-danger"%></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pmset', new_pmset_path , class: "btn btn-success"%>
